.carousel-indicators li {
  height: 30px;
  color: var(--white-colour);
}

.carousel-indicators li .active {
  color: var(--pink-colour) !important;
}

.nav-link {
  color: var(--darkgrey-colour);
}

.nav-link .active {
  color: var(--pink-colour) !important;
}
