html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: $primary;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white-colour;
  height: 53px;
}

.fa-brands {
  color: $darkgrey-colour;
}

.col-sm {
  margin-bottom: 30px;
}

.fa-brands {
  color: $darkgrey-colour;
}

.wrapper {
  background-color: $primary;
  margin: 0px;
}

@media (max-width: 992px) {
  footer {
    height: 165px;
  }
}
