html,
body {
  height: 100%;
}

body {
  background-color: $primary;
  background-image: radial-gradient(
    circle at center,
    $white-colour,
    $navbar-colour
  );
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: 1px $darkgrey-colour;
  background-color: $white-colour;
  height: 53px;
  padding: 10px;
}

.fa-brands {
  color: $darkgrey-colour;
  font-style: normal;
}

.social .fa-brands {
  color: $black-colour;
}

.fa-solid {
  color: $darkgrey-colour;
  margin: 15px;
  font-size: larger;
  font-style: normal;
}
.col-sm {
  margin-bottom: 30px;
}

.fa-brands {
  color: $darkgrey-colour;
}

.wrapper {
  margin: 75px;
}

@media (max-width: 992px) {
  footer {
    height: 165px;
    flex-direction: inherit;
  }
  .wrapper {
    margin: 31px;
  }
}
